<h1>User Post</h1>
{{#each blogs}}
<section class="card">
  <a href="../{{note.id}}" class="card-body">
    <h3 class="card-title">{{note.title}}</h3>
    <h5>Posted by {{user.username}} on {{createdAt}} with the tag of {{note.tag}} and a chosen gif of-{{note.gif}}</h5>
    <p class="card-text">{{note.text}}</p>
  </a>
</section>
{{/each}}