<h1>The Tech Blog</h1>
{{#each blogs}}
<section class="card">
  <a href="/blogs/{{note.id}}" class="card-body">
    <h3 class="card-title">{{note.title}}</h3>
    <h5>Posted by {{user.email}} on {{createdAt}}</h5>
    <p class="card-text">{{note.content}}</p>
  </a>
</section>
{{/each}}